ul {
    li{
        a{
        color :$footerColor;
        text-decoration: none;
        border-radius: 10px;
        padding: $APadding;
        font-size: large;
        display:block;
        &:hover,&:active{
            color:$onHoverColor;
            background-color:#ffffff;
            transition:0.5s;
        }    
        }
    }
}