@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');
@import '_vars';
@import '_anidacion';


body {
 font-family:"League Spartan";
 display: grid;
 grid-template-rows: auto 1fr auto;
 min-height: 100vh;
}

.navbarCustom{
  background-color:#3d8ccc;
  position: sticky;
  top:0;
  z-index: 1020;
}

.navLink{
        color :#FFFFFF;
        text-decoration: none;
        border-radius: 10px;
        padding: 10px;
        font-size: large;
        display:block;
}

.navLink:hover,navLink:active{
    color:$onHoverColor;
    background-color:#ffffff;
    transition:0.5s;
}    

.headerLogo{
    width:100px;
}

.imgCustom{
  max-height: 600px;
  object-fit: cover;
}

.ctCustom{
  background-color:rgba(0, 0, 0, 0.7);
  padding: 5px 0 ;

}

.mainLogin{
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("../img/backgroundlogin.jpg");
    background-size: cover;
	  background-color: #f3f3f3;
    align-content: center;
    background-position: center;
}

.mainServices{
  background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("../img/backgroundServices.jpg");
  background-size:cover;
  background-color: #f3f3f3;
  background-position:center;
  padding: 20px 0;
}

.mainContact{
  background:url("../img/contact-us.jpg");
  background-size:cover;
  background-color: #f3f3f3;
  background-position:center;
  padding: 20px 0;
}

footer{
  background-color: #3d8ccc;
  padding:20px;
}

.footerNavMenu{
    display:flex;
    justify-content:center;
    gap: 1em;
    list-style-type: none;
}

.footerTitle{
    color: #000000;
    text-align: center;
    font-size: small;
    margin-top: 15px;
}

.sectionLogForm{
    color:#000;
    margin:50px auto;
    max-width: 23em;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 45px;
}

.logFormTitle{
    margin-bottom:10px;
    font-size: x-large;
}

.logFormInput{
    display:block;
    width: 100%;
    margin-bottom: 20px;
    padding:10px;
    font-size: medium;
    border-radius: 10px;
}

.logFormP {
    text-decoration: none;
    color:rgb(95, 95, 95);
}

.logFormP:hover{
    color:#000;
}


@media  (min-width:768px){
  .navbarCustom {
    position: initial;
  }
}

.articleTitle{
    margin-bottom: 10px;
    font-size: xx-large;
}

.sectionTableVehicles{
  color:#ffffff;
  display:flex;
  justify-content: center;
  border-radius: 10px;
  border: 2px solid;
  border-spacing: 10px 5px;
  margin: 0 auto;
  max-width: 35em;
  padding: 10px;
  margin-top: 10px;
  overflow: auto;
}

.sectionTitle{
  color: #ffffff;
  display:flex;
  justify-content: center;
}

.sectionTableVehiclesH{
  border: 1px solid;
  justify-content:space-evenly;
  font-size:medium;
  padding: 5px;
}

.navLinkPresu{
  color :#ffffff;
  text-decoration: none;
}

.sectionTableVehiclesD {
  border: 1px solid;
  justify-content:space-evenly;
  font-size:medium;
  padding: 5px;
  color: #ffffff;
  text-decoration: none;
  margin : 0 auto;
}

.sectionContactForm{
  color:#000;
  margin:0 auto;
  max-width: 25em;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 50px;
}

.asideContact{
  color:#000000;
  margin:0 auto;
  max-width: 25em;
}

.googleMap{
  width: 100%;
  height: 30em;
}